.maplibregl-popup-content {
    padding: 0 !important;
    background: transparent !important;
    border-radius: 16px;
    box-shadow: none !important;
    border: none !important;
    overflow: hidden;
}

.maplibregl-popup-tip {
    border-top-color: white !important; 
}

.maplibregl-popup {
    max-width: 360px !important;
}

.maplibregl-popup-close-button {
   top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
}

.incident-popup {
    width: 320px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0,0,0,.18);
    overflow: hidden;
}

.map-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.loading-box {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1000;
    background: #fff;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.filter-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    width: 180px;
}

.map {
    flex: 4;
    height: 100%;
}

.right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-left: 1px solid #e5e5e5;
    background: #fff;
}
